body {
  background: url("../images/snow.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*ヘッダー*/
#header {
  width: 100%;
  background-color: rgba(55, 59, 62, 0.5);
  box-sizing: border-box;
}

#header_link_list {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

#header_link_list li{
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#header_link_list a {
  display: table-cell;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  box-sizing: border-box;
  width:160px;
  height: 40px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#header_link_list li:nth-of-type(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
#header_link_list li:nth-of-type(3) {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

#header_link_list li:hover {
  color: #fff;
  background-color: rgba(134, 206, 203, 0.9);
  border-radius: 4px;
}
#header_link_list li:nth-of-type(1):hover + li {
  border-left: 1px solid rgba(255, 255, 255, 0);
}
#header_link_list li:nth-of-type(2):hover {
  border-left: 1px solid rgba(255, 255, 255, 0);
}
#header_link_list li:nth-of-type(2):hover + li {
  border-left: 1px solid rgba(255, 255, 255, 0);
}
#header_link_list li:nth-of-type(3):hover {
  border-left: 1px solid rgba(255, 255, 255, 0);
}



.wrapper {
  width: 600px;
  height: 130px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#main_content {
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 20px auto;
  color: rgba(255, 255, 255, 1);
}


.link_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.link_list li a {
  display: table-cell;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
	transition: 0.5s;
}

.link_list li a:hover {
  color: #fff;
  background-color: rgba(134, 206, 203, 0.8);
  border: 1px solid rgba(255, 255, 255, 0);
}
